@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color:#008148;
    --second-color: #008659;
    --third-color: #ffffff;
    --fourth-color: #4FB779;
}

section {
    padding: 50px 10%;
}

*::selection {
    color: var(--third-color);
    background: var(--main-color);
}

img {
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--third-color);
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 65px;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover {
    color: var(--fourth-color);
    
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.inicio {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--main-color);
    gap: 1rem;
    text-align: center;
}

.inicio-text {
    flex: 1 1 17rem;
}

.inicio-img {
    flex: 1 1 17rem;
    margin-top: 2rem;
}

.inicio-img img {
    border-radius: 10%;
    width: 500px;
    height: 450px;
}

@keyframes animate {
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: translate(-0px, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
}

.inicio-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--third-color)
}

.inicio-text h1 {
    font-size: 3.2rem;
    color: var(--third-color);
    font-weight: bolder;
}

.inicio-text h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--third-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}

.btn {
    padding: 7px 16px;
    border: 2px solid var(--third-color);
    border-radius: 40px;
    color: var(--third-color);
    font-weight: 500;
}

.btn:hover {
    color: var(--main-color);
    background: var(--third-color);
}

.btn-stat {
    padding: 7px 16px;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    color: var(--main-color);
    font-weight: 500;
}

.btn-stat:hover {
    color: var(--third-color);
    background: var(--main-color);
}

.heading {
    text-align: center;
    text-transform: uppercase;
}

.heading span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}

.heading h1 {
    font-size: 2rem;
    color:var(--main-color);
}

.jogadores-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

.jogadores-container .box {
    flex: 1 1 10rem;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}

.jogadores-container .box .box-img {
    width: 160px;
    height: 220px;
    margin-top: -100px;
}

.jogadores-container .box .box-img img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-position: center;
}

.jogadores-container .box .bx {
    color: var(--third-color);
}

.jogadores-container .box h2 {
    color: var(--third-color);
    font-size: 1.2rem;
}

.box .btn {
    border: 2px solid var(--third-color);
    color: var(--third-color);
}

.box .btn:hover{
    background: var(--third-color);
    color: var(--second-color);
}

/* gosto desse verde como main #008148
   
*/

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.estatisticas-img {
    flex: 1 1 21rem;
}

.estatistica-text {
    flex: 1 1 21rem;
}

.estatistica-text h2 {
    font-size: 1.2rem;
    color: var(--main-color);
}

.estatistica-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    background: var(--main-color);
    gap: 1.5rem;
}

.sobre-img {
    flex: 1 1 17rem;
}

.sobre-text {
    flex: 1 1 17rem;
}

.sobre-text h2 {
    font-size: 1.2rem;
    color: var(--third-color);
}

.sobre-text p {
    color: var(--third-color);
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social a {
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx {
    padding: 5px;
    color: var(--third-color);
    background: var(--main-color);
    border-radius: 50%;
}

.social a .bx:hover {
    background: var(--main-color);
}

.link {
    margin: 1rem 0 1rem;
}
.links a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}

.link a:hover {
    color:var(--main-color);
}

.contatos p {
    text-align: center;
}

.copy {
    color: var(--main-color);
}

.stats {
    width: 500px;
    height: 400px;
}



@media (max-width: 1150px){
    header {
        padding:18px 7%;
    }
    section {
        padding: 50px 7%;
    }
    .inicio-text h1 {
        font-size: 3rem;
    }
    .inicio-text h2 {
        font-size: 1.5rem;
    }
}
@media (max-width: 991px){
    header {
        padding:18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}

@media (max-width: 768px){
    header {
        padding:11px 4%;
    }
    #menu-icon {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }
    .navba.active {
        top: 100%;
    }
    .navbar a {
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
    }
    .inicio-text span {
        font-size: 0.9rem;
    }
    .inicio-text h1 {
        font-size: 2.4rem;
    }
    .inicio-text h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){
    .inicio-text {
        padding-top: inherit;
    }
    .jogadores-container .box {
        margin-top: 6rem;
    }
    .heading h1 {
        font-size: 1.5rem;
    }
    .heading span {
        font-size: 0.9rem;
    }
    .sobre {
        flex-direction: column-reverse;
    }
    
}

@media (max-width: 364px) {
    .link {
        display: flex;
        flex-direction: column;
    }
}